* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #FFE9D2;
  font-family: "Poppins", sans-serif;
  font-size: 16px; }
  body .btn .btn-primary {
    background-color: none;
    color: #871212;
    border-color: #871212; }

.page-wrapper {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden; }
  .page-wrapper hgroup {
    border-bottom: 2px solid #000;
    margin: 0 0 1em 0;
    padding: 0 0 0.6em 0; }

::-moz-selection {
  background: rgba(51, 51, 51, 0.8);
  color: #fff;
  text-shadow: none; }

::selection {
  background: rgba(51, 51, 51, 0.8);
  color: #fff;
  text-shadow: none; }

header {
  background: #4fb560;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 500px;
  margin: 0 0 100px 0; }
  header .menu {
    width: 100%;
    list-style: none;
    padding: 0;
    text-align: center;
    display: inline-block;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }
    header .menu li {
      display: inline-block;
      text-align: center; }
      header .menu li a {
        color: #fff;
        text-decoration: none;
        padding: 30px;
        font-size: 1.15em;
        display: block;
        margin-right: 30px; }
        header .menu li a:hover {
          background: rgba(1, 136, 174, 0.8); }

.main-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px; }
  .main-wrapper .main-sign-in {
    padding: 5px 10px 5px 0;
    width: 35%; }
    .main-wrapper .main-sign-in .form {
      background: #0188AE;
      width: 100%;
      margin: 10px auto;
      padding: 20px;
      border-radius: 5px;
      border: 1px solid #000; }
      .main-wrapper .main-sign-in .form input {
        display: block; }
      .main-wrapper .main-sign-in .form input[type="text"], .main-wrapper .main-sign-in .form [type="password"] {
        width: 100%;
        padding: 15px;
        margin: 30px 0 30px 0;
        border-radius: 3px;
        border: 1px solid #000;
        font-size: 14px; }
        .main-wrapper .main-sign-in .form input[type="text"]:focus, .main-wrapper .main-sign-in .form [type="password"]:focus {
          border: 1px solid #84DE02; }
      .main-wrapper .main-sign-in .form input[type="submit"] {
        width: 200px;
        margin: 0 auto;
        background: none;
        border: 1px solid #4fb560;
        color: #4fb560;
        padding: 10px;
        cursor: pointer;
        font-size: 14px;
        border-radius: 3px; }
        .main-wrapper .main-sign-in .form input[type="submit"]:hover {
          background: #4fb560;
          color: #fff; }
  .main-wrapper aside {
    padding: 5px;
    width: 65%;
    background: #0188AE;
    margin: 16px auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .main-wrapper aside .sign-up {
      width: 60%; }
      .main-wrapper aside .sign-up ul {
        padding: 15px;
        font-size: 15px; }
        .main-wrapper aside .sign-up ul li {
          line-height: 25px; }
      .main-wrapper aside .sign-up .button {
        width: 200px;
        margin: 0 auto;
        background: none;
        border: 1px solid #4fb560;
        color: #4fb560;
        padding: 10px;
        cursor: pointer;
        font-size: 14px;
        border-radius: 3px; }
        .main-wrapper aside .sign-up .button:hover {
          background: #4fb560;
          color: #fff; }
    .main-wrapper aside .logo {
      width: 40%; }
      .main-wrapper aside .logo img {
        width: 90%;
        display: block; }
  .main-wrapper .main-help {
    padding: 5px 30px;
    margin-top: 40px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    width: 100%; }
    .main-wrapper .main-help ul {
      text-decoration: none; }
      .main-wrapper .main-help ul .phone {
        font-size: 20px; }
      .main-wrapper .main-help ul .button-chat {
        width: 160px;
        margin: 0 auto;
        background: none;
        border: 1px solid #0188AE;
        color: #0188AE;
        padding: 10px;
        cursor: pointer;
        font-size: 14px;
        border-radius: 3px;
        font-weight: 600; }
        .main-wrapper .main-help ul .button-chat:hover {
          background: #0188AE;
          color: #fff; }
      .main-wrapper .main-help ul li {
        display: inline-block;
        padding: 5px 20px;
        width: auto;
        vertical-align: middle;
        color: #666666; }
        .main-wrapper .main-help ul li h3 {
          color: #0188AE;
          font-weight: 900;
          font-size: 30px; }

footer {
  margin: 80px 0 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center; }
  footer .links {
    width: 100%;
    background: #4fb560;
    text-align: center;
    color: #000;
    padding-top: 40px;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.5); }
    footer .links .copy-right {
      width: 100%;
      text-align: center;
      font-size: 16px;
      color: #fff;
      font-weight: 300;
      line-height: 11px;
      margin-top: 20px;
      padding: 38px; }
    footer .links ul {
      text-decoration: none; }
      footer .links ul .first {
        border-left: 1px solid #FFE9D2; }
      footer .links ul li {
        display: inline-block;
        text-align: center;
        border-right: 1px solid #FFE9D2;
        padding: 5px;
        margin: 5px; }
        footer .links ul li a {
          color: #fff;
          text-decoration: none;
          padding: 10px;
          margin-top: 20px; }
          footer .links ul li a:hover {
            opacity: 0.5; }

@media screen and (max-width: 1000px) {
  .main-wrapper .main-sign-in {
    padding: 5px 0 5px 0;
    text-align: center;
    width: 100%; }
  .main-wrapper aside {
    width: 100%; } }
@media screen and (max-width: 700px) {
  .main-wrapper aside .sign-up {
    width: 100%; }
  .main-wrapper aside .logo {
    width: 100%; }
    .main-wrapper aside .logo img {
      width: 50%; }

  .main-help ul {
    text-align: center; }
    .main-help ul li {
      display: block; } }

/*# sourceMappingURL=main.css.map */
