// BASES STYLES

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	margin: 0
	padding: 0

body
	background: #FFE9D2
	font-family: 'Poppins', sans-serif
	font-size: 16px
	.btn
		.btn-primary
			background-color: none
			color: #871212
			border-color: #871212

.page-wrapper
	width: 90%
	max-width: 1000px
	margin: auto
	overflow: hidden
	hgroup
		border-bottom: 2px solid #000
		margin: 0 0 1em 0
		padding: 0 0 0.6em 0

::-moz-selection
	background: rgba(51,51,51,.8)
	color: #fff
	text-shadow: none

::selection
	background: rgba(51,51,51,.8)
	color: #fff
	text-shadow: none
