// FOOTER STYLES

footer
	margin: 80px 0 0 0
	display: flex
	flex-direction: column
	flex-wrap: no-wrap
	justify-content: center
	.links
		width: 100%
		background: #4fb560
		text-align: center
		color: #000
		padding-top: 40px
		box-shadow: 10px 0 10px rgba(0,0,0,.5)
		.copy-right
			width: 100%
			text-align: center
			font-size: 16px
			color: #fff
			font-weight: 300
			line-height: 11px
			margin-top: 20px
			padding: 38px
		ul
			text-decoration: none
			.first
				border-left: 1px solid #FFE9D2
			li
				display: inline-block
				text-align: center
				border-right: 1px solid #FFE9D2
				padding: 5px
				margin: 5px
				a
					color: #fff
					text-decoration: none
					padding: 10px
					margin-top: 20px
					&:hover
						opacity: 0.5
