// HEADER STYLES

header
	background: #4fb560
	background-repeat: no-repeat
	background-position: center
	max-height: 500px
	margin: 0 0 100px 0
	.menu
		width: 100%
		list-style: none
		padding: 0
		text-align: center
		display: inline-block
		box-shadow: 0 5px 10px rgba(0,0,0,.5)
		li
			display: inline-block
			text-align: center
			a
				color: #fff
				text-decoration: none
				padding: 30px
				font-size: 1.15em
				display: block
				margin-right: 30px
				&:hover
					background: rgba(1, 136, 174, .8)
