// MAIN STYLES

.main-wrapper
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	margin-top: 20px
	margin-bottom: 50px
	.main-sign-in
		padding: 5px 10px 5px 0
		width: 35%
		.form
			background: #0188AE
			width: 100%
			margin: 10px auto
			padding: 20px
			border-radius: 5px
			border: 1px solid #000
			input
				display: block
			input[type="text"], [type="password"]
				width: 100%
				padding: 15px
				margin: 30px 0 30px 0
				border-radius: 3px
				border: 1px solid #000
				font-size: 14px
				&:focus
					border: 1px solid #84DE02
			input[type="submit"]
				width: 200px
				margin: 0 auto
				background: none
				border: 1px solid #4fb560
				color: #4fb560
				padding: 10px
				cursor: pointer
				font-size: 14px
				border-radius: 3px
				&:hover
					background: #4fb560
					color: #fff
	aside
		padding: 5px
		width: 65%
		background: #0188AE
		margin: 16px auto
		padding: 20px
		border-radius: 5px
		border: 1px solid #000
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-between
		.sign-up
			width: 60%
			ul
				padding: 15px
				font-size: 15px
				li
					line-height: 25px
			.button
				width: 200px
				margin: 0 auto
				background: none
				border: 1px solid #4fb560
				color: #4fb560
				padding: 10px
				cursor: pointer
				font-size: 14px
				border-radius: 3px
				&:hover
					background: #4fb560
					color: #fff
		.logo
			width: 40%
			img
				width: 90%
				display: block
	.main-help
		padding: 5px 30px
		margin-top: 40px
		border-bottom: 1px solid #000
		border-top: 1px solid #000
		width: 100%
		ul
			text-decoration: none
			.phone
				font-size: 20px
			.button-chat
				width: 160px
				margin: 0 auto
				background: none
				border: 1px solid #0188AE
				color: #0188AE
				padding: 10px
				cursor: pointer
				font-size: 14px
				border-radius: 3px
				font-weight: 600
				&:hover
					background: #0188AE
					color: #fff
			li
				display: inline-block
				padding: 5px 20px
				width: auto
				vertical-align: middle
				color: #666666
				h3
					color: #0188AE
					font-weight: 900
					font-size: 30px