// MEDIA QUERIES

@media screen and (max-width: 1000px)
	.main-wrapper
		.main-sign-in
			padding: 5px 0 5px 0
			text-align: center
			width: 100%
		aside
			width: 100%

@media screen and (max-width: 700px)
	.main-wrapper
		aside
			.sign-up
				width: 100%
			.logo
				width: 100%
				img
					width: 50%
	.main-help
		ul
			text-align: center
			li
				display: block




	
		

	